<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nolonely.mobile">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission." />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />


    <application
        android:name="splash.MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_logo"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_logo_round"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name=".ReportActivity"></activity>
        <activity android:name=".ui.amis.display.InfoUserActivity" />
        <activity android:name=".ui.evenements.display.InfosEventCreationActivity" />
        <activity android:name=".ui.evenements.display.PlanningActivity" />
        <activity android:name=".ui.UserListActivity" />
        <activity android:name=".signUpActivities.WelcomeActivity" />
        <activity android:name=".signUpActivities.CheckMailValidationActivity" />
        <activity android:name=".ui.message.MessagesActivity" />
        <activity android:name=".ui.message.NewMessageActivity" />
        <activity android:name=".signUpActivities.CheckPhoneValidationActivity" />
        <activity android:name=".signUpActivities.SignUpMainActivity" />
        <activity android:name=".ui.evenements.display.EventPlanningActivity" />
        <activity android:name=".payment.CheckoutActivity" />
        <activity android:name=".ui.profil.ProfilActivity" />
        <activity android:name=".ui.profil.EditActivity" />
        <activity android:name=".ui.profil.ParametresActivity" />
        <activity android:name=".ui.profil.AideActivity" />
        <activity android:name=".ui.evenements.InfosEvenementsActivity" />
        <activity android:name=".dialog.CameraActivity" />
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />
        <activity android:name=".ui.evenements.creation.MainCreationEventActivity" />
        <activity android:name=".ui.NotificationActivity" />
        <activity android:name=".ResetPasswordActivity" />
        <activity
            android:name=".ui.message.ChatActivityGroup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.message.ChatActivityFriend"
            android:theme="@style/AppTheme.NoActionBar" />
        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/.
        -->
        <activity android:name=".ErrorConnexionActivity" />
        <activity android:name=".ui.profil.SampleActivity" />
        <activity
            android:name=".HomeActivity"
            android:label="@string/title_activity_home"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".MainActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name="splash.SplashActivity"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- Accepts URIs that begin with "http://www.example.com/gizmos” -->
                <data
                    android:host="www.nolonely.fr"
                    android:pathPrefix="/teams"
                    android:scheme="https" />
            </intent-filter>
        </activity>

        <service
            android:name=".NotificationMessagingService"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <meta-data
            android:name="com.google.android.gms.vision.DEPENDENCIES"
            android:value="barcode" />
        <meta-data
            android:name="com.google.android.gms.wallet.api.enabled"
            android:value="true" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-6518187753315110~3040048308" />
    </application>

</manifest>